<h1> Hi <%= @current_user.username %>!</h1>

<hr>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new task
    </h2>

      <a href="/tasks" class="btn btn-block btn-outline-secondary">
        Go back
      </a>
      <p></p>
      
    <form action="/insert_task" method="post">
      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="description_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="category_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="priority_box">
          Priority
        </label>

        <input type="text" id="priority_box" name="priority_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="deadline_box">
          Deadline
        </label>

        <input type="text" id="deadline_box" name="deadline_from_query" class="form-control">
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="completed_box" name="completed_from_query" value="1">

        <label class="custom-control-label" for="completed_box">Completed</label>
      </div>


      <div class="form-group">
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="duration_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create task
      </button>
    </form>
  </div>
</div>
<hr>